<div class="forums-container">
  <app-content-header currentPage="FORUMS"></app-content-header>
  <div class="forums-description">
    <div class="description">
      <p>Forums are a great way to communicate your ideas with your peers. In this page,
      alumni and undergraduates of the college may interact with each other through forums, which
      can be in the form of Discussions, Q&As and the like.</p>
    </div>

    <button id="create-forum" routerLink="/forums/createForum">CREATE A FORUM</button>
  </div>

  <div class="forums">
    <div class="forum" *ngFor="let forum of forumService.forums">
        <div class="forum-image-container">
          <div class="forum-feature-image"></div>
        </div>

        <div class="forum-content-container">
          <div class="forum-content">
            <h2>{{ forum.title.toUpperCase() }}</h2>
            <h5>POSTED BY: {{ forum.poster }}</h5>

            <p *ngIf="forum.content.length >= 100">
              {{ forum.content.substring(0, 100) }}...
            </p>

            <p *ngIf="forum.content.length < 100">
              {{ forum.content }}
            </p>

            <button (click)="forumService.accessPage(forum.id)">JOIN DISCUSSION</button>
          </div>
        </div>
    </div>

  </div>
</div>

<!-- HEADER AND FOOTER -->
<app-header></app-header>
<app-footer></app-footer>
