@media (max-width: 768px) {
  .albums-container {
    display: block;
    margin: 0 5%;
  }

  .album {
    height: 300px;
    width: 100%;
    border: 2px solid #707070;
    margin: 3% 1%;
  }
}

@media (min-width: 768px) {
  .albums-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5%;
  }

  .album {
    height: 200px;
    min-width: 30%;
    max-width: 30%;
    border: 2px solid #707070;
    margin: 3% 1%;
  }
}

.gallery-container {
  animation: pageAccessed .5s;
  animation-fill-mode: backwards;
  animation-timing-function: ease;
}

.gallery-description {
  margin: 3% 5%;
}

.gallery-description p, h1 {
  font-family: Poppins;
  color: #707070;
}

.gallery-albums h1 {
  text-align: center;
}

@keyframes pageAccessed {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

