@media (max-width: 768px) {
  .content-footer {
    width: 103.5%;
  }
}

@media (min-width: 768px) {
  .content-footer {
    width: 101.2%;
  }
}

.content-footer {
  text-align: center;
  background-color: #232E21;

  height: 200px;
  position: relative;
  margin-top: 15%;

  bottom: -10px;
  left: -10px;
  padding-top: 2%;
}

.content-footer h4{
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}

.content-footer h5{
  color: white;
  font-family: Poppins, sans-serif;
}
