<div class="content-footer">
  <div class="contents">
    <div class="content-1">
      <h2>ALUMNI INFORMATION MANAGEMENT SYSTEM</h2>
      <p>This is the official website of the college. Both Alumni and Undergraduates of the college can both interact here.</p>
    </div>

    <div class="content-2">
      <h4>CONTACT</h4>
      <p>E-MAIL: AIMSDevs@gmail.com</p>
      <p>ADDRESS: #5 Dela Cruz Drive Extension, East Tapinac, Olongapo City</p>
      <p>PHONE: 0933 869 794</p>
    </div>

    <div class="content-3">
      <h4>SOCIALS</h4>
      <p>FACEBOOK</p>
      <p>TWITTER</p>
      <p>YOUTUBE</p>
      <p>INSTAGRAM</p>
    </div>
  </div>

  <div class="content-details">
    <p>A PROJECT FOR CS ELECTIVE</p>
    <p>2021</p>
  </div>
</div>
