<div class="header">
  <ul>
    <li id="sign-in"><a routerLink="/login">{{ loginMessage }}</a></li>
    <li><a routerLink="/jobs" class="generic-link" (click)="pageChanged('JOBS')">JOBS</a></li>
    <li><a routerLink="/forums" class="generic-link" (click)="pageChanged('FORUMS')">FORUMS</a></li>
    <li><a routerLink="/gallery" class="generic-link" (click)="pageChanged('GALLERY')">GALLERY</a></li>
    <li><a routerLink="/" class="generic-link" (click)="pageChanged('HOMEPAGE')">HOME</a></li>
    <li id="login-status"><a>{{ loginStatus }}</a></li>
  </ul>
</div>
