<div class="header">
  <ul>
    <li id="sign-in"><a (click)="loginInteract(loginService.headerStatus)">{{ loginService.signInStatus }}</a></li>
    <li><a routerLink="/jobs" class="generic-link">JOBS</a></li>
    <li><a routerLink="/forums" class="generic-link">FORUMS</a></li>
    <li><a routerLink="/gallery" class="generic-link">GALLERY</a></li>
    <li><a routerLink="/" class="generic-link">HOME</a></li>
    <li class="login-status" *ngIf="loginService.currentUser != null">
      <a>{{ loginService.currentUser.firstName }} {{ loginService.currentUser.lastName }}</a>
    </li>

    <li class="login-status" *ngIf="loginService.currentUser == null">
      <a>NOT SIGNED IN</a>
    </li>
  </ul>
</div>
