<div class="container"></div>
<div class="login-container">
  <div class="fields">
    <img src="../../assets/images/college.png" height="100px">

    <h1>{{ loginService.loginStatus }}</h1>
    <form (ngSubmit)="loginService.loginAttempt(loginForm)" #loginForm="ngForm">

      <label>USERNAME: </label>
      <div class="input-container">
        <input type="text" name="username" required ngModel email>
      </div>

      <label>PASSWORD: </label>
      <div class="input-container">
        <input type="password" name="password" required ngModel>
      </div>

      <div>
        <input type="submit" id="submitButton" value="LOG IN">
      </div>
    </form>

    <p id="info">ALUMNI INFORMATION MANAGEMENT SYSTEM</p>
    <a routerLink="/" id="returnHome">RETURN TO HOMEPAGE</a>
  </div>
</div>
