.container {
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;

  clip-path: polygon(70% 0, 100% 0, 100% 100%,  20% 100%);

  animation: backgroundFill 2s;
  animation-fill-mode: forwards;
  animation-delay: .5s;
}

.login-container {
  position: absolute;
  top: 5%;
  left: 35%;

  width: 30%;
  height: 85%;
  border: 2px solid #666;
  background-color: white;

  animation: moveLogin .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
}

.fields {
  text-align: center;
  padding: 10%;

  font-family: Poppins;
  font-size: 13px;
  font-weight: bold;
}

.fields input {
  border: 2px solid #232E21;
  border-radius: 3px;

  height: 25px;
  width: 60%;

  font-size: 14px;
}

.input-container {
  display: block;
  margin-top: 2%;
  margin-bottom: 3%;
}

#info {
  margin-top: 100px;
}

h1 {
  margin-bottom: 12%;
  font-size: 30px;
}

button {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;

  font-family: Poppins;
  font-weight: bold;
  font-size: 15px;
  color: white;

  background-color: #232E21;
}

@keyframes backgroundFill {
  0% {
    background-color: white;
  }
  100% {
    background-color: #F42272;
  }
}

@keyframes moveLogin {
  0% {
    opacity: 0%;
    left: 40%;
  }
  100% {
    opacity: 1;
  }
}
