<div class="container"></div>
<div class="login-container">
  <div class="fields">
    <img src="../../../assets/images/college.png" height="100px">

    <h1>{{ message }}</h1>
    <label>Username: </label>
    <div class="input-container">
      <input type="text" [(ngModel)]="username">
    </div>

    <label>Password: </label>
    <div class="input-container">
      <input type="password" [(ngModel)]="password">
    </div>

    <button (click)="login()">Log In</button>
    <p id="info">Alumni Information Management System</p>
  </div>
</div>
