@media (max-width: 768px) {
  .job {
    margin: 10% 0;
  }
}

@media (min-width: 768px) {
  .all-jobs-container {
    display: flex;
    flex-wrap: wrap;
  }

  .job {
    flex: 1 0 40%;
    margin: 3% 3%;
    width: 45%;
    max-width: 43%;
  }
}

.jobs-container, .jobs-description {
  margin: 3% 5%;
}

.jobs-description p {
  color: #707070;
  font-family: Poppins;
}

.job {
  border: 2px solid #707070;
  font-family: Poppins;
}

.job p {
  color: #707070;
}

.job h2 {
  color: #F42272;
}

.job h5 {
  margin-top: -3%;
  color: #707070;
}

.job-content {
  padding: 5%;
}

.view-job {
  font-family: Poppins;
  font-weight: bolder;
  background-color: #232E21;
  border: 1px solid #232E21;
  color: white;

  width: 40%;
  padding: 2%;
  transition: color .3s, background-color .3s, border .3s;
}

.view-job:hover {
  border: 1px solid #F42272;
  color: white;
  background-color: #F42272;
}

